
.footer {
    padding: 4em 2em;
    background-color: var(--theme-color-accent);
    color: white;
    margin-top: var(--content-section-margin);
    text-align: center;
    .mandala {
        width: 100px;
    }

    h2 {
        font-size: 20px;
    }
    h5 {
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.footer-info {
  flex: 1;
  max-width: 350px;
}

.footer-links a {
    color: white;
    font-size: 14px;
    width: 100%;
    display: block;
    padding: 0.5rem;
    text-transform: uppercase;
    
}

.footer-links {
    margin-top: 3rem;
    display: flex;
flex-direction: column;
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

