.hero {

    background-blend-mode: normal;
    background: var(--theme-color-accent);
    text-align: center;

    span {
        display: block;
    }

    .h2,
    .h3 {
        font-family: $ss-font-family;

    }

    .h2 {
        font-weight: $font-ss-regular;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        padding-bottom: 0;
        padding-top: 0;

    }

    .h3 {
        letter-spacing: 6px;
        font-weight: $font-ss-light;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .h1 {
        font-family: $serif-font-family;
        font-weight: $font-serif-regular;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .btn {
        border: 1px solid white;
        border-color: white;
        color: white;
        margin-top: 1rem;
        background: transparent;

        &:hover {
            background: var(--btnColor);
        }
    }

    /* ////////////////////// */
    .h1 {
        font-size: 36px;
        
        margin-bottom: 2.5rem;

        @media screen and (max-width: 480px) {
            max-width: 280px
        }
    }
    .h2 {
        font-size: 20px;
    }
    .h3 {
        font-size: 14px;

    }

    @media screen and (min-width: 600px) {
        .h1 {
            font-size: 7vw;
        }
        .h2 {
            font-size: 24px;
        }
        .h3 {
            font-size: 20px;
        }
    }

    @media screen and (min-width: 850px) {
        .h1 {
            font-size: 58px;
        }

    }


    .btn {
        @media screen and (max-width: 480px) {
            font-size: 12px;
        }
    }

}