:root {
    --theme-color-h: 296;
    --theme-color-s: 50%;
    --theme-color-l: 26%;
    --theme-color-h-opp: calc(var(--theme-color-h) + 90);

    --theme-color-white:hsl(var(--theme-color-h), 100%, 97%);
    --theme-color-black: hsl(var(--theme-color-h), 20%, 5%);
    --theme-color-grey: #ececec;
    --theme-color-grey-dark: #5e676e;
    --theme-color-accent: hsl(var(--theme-color-h), var(--theme-color-s), var(--theme-color-l));
    --theme-color-accent-dark: hsl(var(--theme-color-h), 90%, 20%);
    --theme-color-accent-light: hsl(var(--theme-color-h), var(--theme-color-s), 60%);
    --theme-color-accent-opposite: hsl(var(--theme-color-h-opp), var(--theme-color-s), 50%);
    --container-max-width: 50rem;
    --header-height: 7.5em;
    --theme-color-nav-links:var(--theme-color-accent);

    --theme-color-nav-background: var(--theme-color-white);


    --hero-background-color:transparent;

    --content-padding-sides: 4vmax;
    --content-padding-top-tail: 5vmax;
    --content-section-margin: 3rem;
    --content-max-width: 1200px;

    --fullscreen-nav-background-color: var(--theme-color-white);
    --fullscreen-nav-color: var(--theme-color-accent);
}
