.testamonial-section {
    background-image: url(../static/hero-bg.jpg);
    background-size: cover;
    position: relative;
}

.testamonial-section .content-max-width {
    background: none;
}
.testamonial-section .content-max-width .rte {
    color: white;
}

.blockquote-testamonial:before,
.blockquote-testamonial:after {
    position: absolute;
    color: #f1efe642;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
    line-height: 1;
}

.blockquote-testamonial:before {
    content: '\201C';
    left: 0;
    top: 0;
}

.blockquote-testamonial:after {
    content: '\201D';
    right: 0;
    bottom: 1rem;
}