.testamonial-section {

    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.testamonial-section .content-max-width {
    background: none;
}
.testamonial-section .content-max-width .rte {
}

.blockquote-testamonial:before,
.blockquote-testamonial:after {
    position: absolute;
    color: rgba(191, 191, 191, 0.45);
    font-size: 6rem;
    width: 3rem;
    height: 3rem;
    line-height: 1;
    z-index: 0;
}

.blockquote-testamonial:before {
    content: '\201C';
    left: 0rem;
    top: 0rem;
}

.blockquote-testamonial:after {
    content: '\201D';
    right: 0rem;
    bottom: 0rem;
}