@import "settings";

@import "lib/modularscale-sass-3.x/stylesheets/modularscale";
@import "lib/utils";
@import "lib/reset.min";

@import "typography";
@import "buttons";
@import "scrollbar";

@import "header";
@import "footer";

@import "hero";
@import "gallery";
@import "testimonial";
@import "contact";

@import "layout";


.slick-slider {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.image-slider {
    margin-top: 4vmax;
    margin-bottom: 4vmax;
}

.slider-image {
    filter: grayscale(1);
    opacity: 0.8;
}

.testimonials-slider {
    padding: 2vmax 0vmax;
    background: #7a61ae;
    color: white;
}


.slick-track {
    display: flex;
    align-items: center;
}

.slick-dots {
    display: block;
    background: #7a61ae00;
    padding-bottom: 1rem;
    width: 100%;
}
.slick-dots li, .slick-dots li button  {
    width: 30px;
    height: 30px;
}

.slick-dots li button:before {
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #fff;
}